.post
  h3.post--title New post

  form.form(name='form', ng-submit='vm.editPost(form)', novalidate='')
      .form-group
        label Title
        input(type='text', name='title', ng-model='vm.post.title', required='')
      .form-group
        label Password
        textarea(name='body', ng-model='vm.post.body', required='')
      .form-group
        p.help-block(ng-show='form.title.$error.required && form.body.$error.required && vm.submitted')
          | Please enter a title and a body.
        p.help-block {{ vm.errors.other }}
      .form-group
        button(type='submit')
          | Submit
