.post
  h3.post--title {{ post.title }}
  p.post--date {{ post.date }}
  p.post--body {{ post.body }}
  a.button--edit(href="#",ng-show='isLoggedIn()') Edit
  a.button--delete(href="#",ng-show='isLoggedIn()') Delete
