.post
  h3.post--title {{ post.title }}
  p.post--date Submited by 
    span.author {{ post.author }} 
    | on {{ post.date | date: 'MMM dd, y HH:mm'}}
  p.post--body {{ post.body }}
  .center(ng-show="isLoggedIn()")
    button.button.button--edit(href="#") Edit
    button.button.button--delete(href="#") Delete
    
  
