.wrapper
  .media
    img(src='assets/images/me.gif', alt='my photo')
    .text
      h2.about--title Hey, I'm Abián Izquierdo
      p Post-ironic thundercats swag literally, messenger bag master cleanse keytar 
      | bicycle rights single-origin coffee humblebrag four loko listicle. You probably 
      | haven't heard of them plaid kickstarter poutine, ethical vegan small batch 
      | pickled farm-to-table readymade trust fund. Four loko street art YOLO green juice, 
      | tattooed tilde twee. Taxidermy gastropub man bun lo-fi. Salvia post-ironic 
      | forage cred, hoodie poutine thundercats jean shorts butcher iPhone YOLO hammock.

      p Slow-carb mixtape chia, tumblr waistcoat cliche tousled kitsch. Chillwave 
      | single-origin coffee XOXO godard typewriter synth, neutra next level lomo bespoke 
      | bitters hoodie listicle. Before they sold out poutine skateboard, actually you 
      | probably haven't heard of them synth swag meh normcore. 
