a.logo(href="/posts")
  img(src="assets/images/logo.svg", alt="abizmo")

.website
  h5 Website
  ul
    li
      a.website--item(href="/posts") Blog
    li
      a.website--item(href="/about") About

.social
  h5 Social
  ul
    li
      a.social--item(href="https://twitter.com/abizmo") Twitter
    li
      a.social--item(href="https://www.instagram.com/abizmo/") Instagram
    li
      a.social--item(href="https://github.com/abizmo") Github
    li
      a.social--item(href="mailto:abizmo@gmail.com") Email
